@import '../variables.scss';
 

.navbar {  
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  &__logo-container { 
    padding:2px;
    border-radius: 10%;
    background-color: $primary-color; 
    &__logo {
        font-size: 20px;
        font-weight: bold;
        background-image: url($bag-url-256);
        min-height: 70px;
        min-width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $breakpoint) {
            min-height: 40px;
            min-width: 40px;
        }
    }
  
  }
 

  &__cart-container { 
    border-radius: 2%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,18,88,1) 0%, rgba(97,40,149,0.8716736694677871) 85%, rgba(97,40,149,1) 100%);
    display: flex;
    gap: 10px; 
    margin: 0;
    padding: 4px;  
    width: fit-content;
    max-width: 50%;
    place-items: center;
    font-size: 30px;
    @media (max-width: $breakpoint) {  
        font-size: 15px;
    }
    &__cart {
        font-size: 20px;
        font-weight: bold;
        background-image: url($shop-cart-url-128);
        height: 50px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $breakpoint) {
            height: 20px;
            width: 40px;
        }
    }
  }

 
 

  @media (max-width: $breakpoint) {
 
  }
}