//COLOR APP DEFINITION
$primary-color:#7000b1;
$secondary-color:#d359eb;
$tertiary-color:#bbbbbb ;
$cuaternary-color:#f8d3ff; 
$white: white;
$black: black;
//RESPONSIVE BREAKPOINTS
$breakpoint: 768px;
//IMAGES IMPORT
$bag-url-256: '../../assets/bag-256px.png'; 
$shop-cart-url-128:'../../assets/shopping-cart 128px.png'; 
$shop-cart-url-128-purple:'../../assets/shopping-cart-purple.png'; 
//GENERALS
$column-count: 3;
$column-gap: 20px;
$border-style: 2px solid $tertiary-color;
